.head{
    background-color: pink;
}
.margin{
    border: 2px solid red;
    background-color: pink;
    margin: 20px;
    padding: 20px;
}

.container{
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box10{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: blue;
}